@tailwind base;
@tailwind components;
@tailwind utilities;

.moving{
  transform: translateX(100%);
}

.tab-focus{
  border-bottom: 3px solid transparent;
  @apply border-b-contrast-clear
}

.onfocus{
  @apply border-l-2 border-l-contrast-clear bg-primary lg:border-l-4;
}

.chart{
  @apply w-full p-4 bg-primary-strong rounded-lg overflow-x-hidden mb-5 lg:flex lg:flex-col lg:items-center;
}

.chart__title {
  @apply text-lg tracking-wide font-light lg:w-full text-start lg:mb-4;
}

.chart__container {
  @apply scrollbar overflow-x-auto pb-4 pr-3 lg:overflow-hidden;
}

.double-chart-grid{
  @apply md:grid md:grid-cols-2 md:gap-4;
}

.floating-icon{
  @apply hidden md:block text-8xl text-contrast-strong mr-2 absolute;
}

.standard-day-forecast{
  @apply bg-contrast-strong w-fit rounded-full py-5 px-4 flex flex-col items-center justify-center;
}

.overlapped-day-forecast{
  @apply bg-just-white w-fit rounded-full py-5 px-4 flex flex-col items-center justify-center text-primary-clear;
}

/* Scrollbar class */
.scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #2C4459;
  /* background: #f7f4ed; */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #f7f4ed;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

/* Scrollbar main class */
.scrollbar-main::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}

.scrollbar-main::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0F1022;
  /* background: #f7f4ed; */
}

.scrollbar-main::-webkit-scrollbar-thumb {
  background: #484A69;
  border-radius: 100vh;
  border: 3px solid #484A69;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
